@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
section { 
    background: linear-gradient(#4dadf9 , #b51249);
    min-height: 100vh;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
} 
.container {
    width: 90%;
    max-width: 400px;
    background: rgba(255,255,255,0.05);
    border-radius: 6px;
    border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
    overflow: hidden;
}

.display {
    height: 100px;
    width: 100%;
    text-align: right;
    /*border: none;
    outline:none;*/
    padding: 20px;
    font-size: 30px;
    background: transparent;
    border-bottom: 1px solid rgba(255,255,255,0.05);
    border-right: 1px solid rgba(255,255,255,0.05);
    position: relative;
}
    
.display-1 {
    opacity: 0.4;
    font-size: 20px;
    height: 25px;
    overflow: hidden;
}
.temp-result{
    position: absolute;
    bottom: 0;
    left:10;
    font-size: 20px;
    opacity: 0.3;
}
.all_button {
    color:#fff;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}
.button {
    display:inline-block;
    display: flex;
    height: 100px;
    width: 100%;
    color:#fff;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    font-size: 30px;
    border-bottom: 1px solid rgba(255,255,255,0.05);
    border-right: 1px solid rgba(255,255,255,0.05);
}
.button:hover {
    background: rgb(251 247 247 / 14%);
}
.btn-0 {
    grid-column: 1/3;
}



